<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/css/style.css">
    <link rel="stylesheet" href="../../../static/css/bootstrap-grid.css">
    <script src="../../../static/js/bootstrap.min.js"></script>
    <script src="../../../static/js/jquery.js"></script>
    <script src="../../../static/js/main.js"></script>
    <title>PTTKHTTT</title>
</head>
<script src='https://cdn.tiny.cloud/1/a57kalmwigr1bzkrg6x9lnm2zd95kb9ftfvozv3lk9xk6hid/tinymce/5/tinymce.min.js' referrerpolicy="origin"></script>
<script>
tinymce.init({
  selector: '#mytextarea'
});
</script>

<body>
    <div class="page-wrapper chiller-theme toggled">
        <%- include("menu")%>
            <main class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="container">
                            <form action="update" method="POST" enctype="multipart/form-data" >
                                
                                <div class="row form-group form-control">
                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                        <div class="form-control">
                                            <span>Tên sản Phẩm: </span> <br>
                                            <input class="form-control validate" required type="text" name="name" value="<%- data.name%>">
                                        </div>
                                        <div class="form-control">
                                            <span>Giá sản phẩm:</span> <br>
                                            <input class="form-control validate" required type="number" name="price"
                                                value="<%- data.price%>">
                                        </div>
                                        <div class="form-control">
                                            <span>Mã sản phẩm:</span> <br>
                                            <input class="form-control validate" required type="text" name="code" value="<%- data.code%>">
                                        </div>
                                        <div class="form-control">
                                            <span>Size:</span> <br>
                                            <input class="form-control validate" required type="text" name="size" value="<%- data.size%>">
                                        </div>
                                        <div class="form-control">
                                            <span>Mô tả</span> <br>
                                            <textarea class="conte" id="mytextarea" name="mytextarea"><%- data.describe%></textarea>
                                        </div>
                                        <div class="form-control">
                                            <span>Sale:</span> <br>
                                            <input class="form-control validate" required type="number" name="sale"
                                                value="<%- data.sale%>">
                                        </div>
                                        <div class="form-control">
                                            <span>Trạng thái:</span> <br>
                                            <input type="checkbox" <% if(data.status){%> checked <%}%> name="status">
                                                <span>Còn hàng</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                        <div class="form-control">
                                            <% data.image.forEach((img)=> {%>
                                                <img src="../../../static/image/<%- img %>" class="edit-image" alt="">
                                                <% })%>
                                                <input type="file" name="nameImage" multiple class="btn btn-light ">
                                        </div>
                                    </div>
                                    <div class="form-control">
                                        <input type="submit" value="UPDATE PRODUCT"
                                            class="btn btn-light btn-block text-uppercase">
                                    </div>
                                    <input type="hidden" value="<%- data._id%>" name="id">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
    </div>
</body>

</html>